.appointment_block {margin: 0; padding:1.5rem 1.5rem 0; font-size:16px; display:flex; flex-wrap:wrap;}
.appointment_block em svg, .appointment_block em img {max-width:20px; margin-right:4px;}
.appointment_block label {color:#8B8B8B;}
.appointment_block li {margin-bottom:1rem; width:50%; max-width:50%; }
.appointment_block li span {display:block; color:#fff; white-space:nowrap}

.btn_groups {padding:.5rem 1.5rem 1.5rem;}
.btn_groups .btn {margin:3px;}

/** Counter **/
#countdown {padding:.5rem 1rem 1rem;}
#countdown h6 {margin:0 0 10px;}
#countdown ul {padding:0; margin:0;}
#countdown ul li{ background: #4e4c4c; display: inline-block; font-size: 14px; color:#fff; border-radius:10px 10px 10px 0; list-style-type: none; padding: 1em; text-transform: uppercase; min-width:100px; margin:7px 5px;}
#countdown ul li span {display:block; font-size: 1.5rem;}

.ui_tabs {border:0; margin:0 0 20px;}
.ui_tabs li {margin-right:15px;}
.ui_tabs li:last-child {margin-right:0;}
.ui_tabs li a {background-color: #060708; border-color: #2B2B2E; color: #fff; padding: .58rem 1rem; min-width: 160px; min-height:44px; border-radius: .25rem;}
.ui_tabs li a.active, .ui_tabs li a:hover  {background: #CF1B1B; border-color: #CF1B1B; color: #fff;}

@media (max-width:767px){
	.appointment_block li {width:100%; max-width:100%; }
}