.modal-content {
    background: #050505;
    box-shadow: 0 0 20px rgb(0 0 0 / 80%);
    padding: 30px;
}
.modal-header {
    border: 0;
}
h3.modal-title {
    font-size: 25px;
}
.col-12 {
    margin: 10px 0;
}
.ar_info img {
    margin-right: 10px;
}
.profile_detail figure {margin-right: 25px;}
.time_info{
    color: #fff;
    font-size: 18px;
    margin: 5px 0;
}
.estimate_sec .estimate_num {
    color: #fff;
    font-size: 18px;
    margin: 5px 0;
    display: block;
}
.estimate_sec img{
    margin-right: 10px;
	width: 10px;
}
.date_info img{
    width: 15px;
    margin-right: 10px;
}
