.pointer {cursor:pointer;}
@media (min-width: 576px) {
	.modal-md {max-width:600px;}
	.modal-lg {max-width:900px;}
}
.modal-title h4 {font-size:30px; font-weight:600; margin-top:10px;}
/**payment Modal **/
.modal-content {background:#050505; border-radius:12px;}
.payment_modal .modal-md .modal-body, .payment_modal .modal-lg .modal-body {padding:40px;}
.payment_modal li {display:flex; justify-content:space-between; margin:0 0 15px;}

/*Chat Popup*/
.appointment_block li {flex-direction:column;}
.payment_modal .ma_col ul li span {width:100%;}
.payment_modal .ma_col ul li { flex-basis: 50%; padding-bottom:0;}

.ar_title em {background:#CF1B1B; padding:5px; border-radius:4px; display:inline-block; width:28px; height:28px; line-height:14px; text-align:center; margin-right:7px;}
.ar_title h6 {font-weight:400; color:rgba(255,255,255,.6);}
.ar_title em img {display:inline-block;}
.profile_summary h5  {font-size:18px; margin-bottom:4px;}
.payment_modal li {align-items:center;}

.info_body .appointment_block li {width: 100%; max-width:100%; align-items:flex-start;}

.tip_field {max-width:150px;}
.tip_field input { min-height:40px; padding:5px 7px; border-radius:5px; font-size:15px; text-align:right; color: #818181; border-color:#818181;}
@media (min-width:768px){
.au_col .col-md-6:first-child:after {
	content:'';
	position:absolute;
	top:0;
	right:15px;
	height:100%;
	width:1px;
	background:rgba(255,255,255,.5);
}
}
@media (max-width:767px){
	.au_col .col-md-6:first-child {border-bottom:1px solid rgba(255,255,255,.5); margin-bottom:40px; padding-bottom:30px;}	
}

.step2,.step3 {display:none;}

#appointmentBooked a {color:#CF1B1B;}
.payment_modal .ma_col #datepicker, .payment_modal #cal {pointer-events:none; cursor:not-allowed}